@using BabySounds.Client.Services
@using BabySounds.Contracts.Responses
@using Blazored.LocalStorage
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject BabySoundsWebClient BabySoundsWebClient;
@inject NavigationManager Navigation
@inject ILocalStorageService LocalStorageService
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using BabySounds.Contracts.Responses
@attribute [Authorize]
@inject HttpClient Http

<a href="">
    <img src="./assets/images/logo.jpg" alt="Logo" class="h-auto w-max"/>
</a>
<div class="flex h-full w-4/5 flex-col items-center justify-between bg-opacity-95 text-xl">
    <AuthorizeView>
        <Authorized>
            @if (_playlists == null)
            {
                <p><em>Loading Playlists...</em></p>
            }
            else
            {
                <div class="flex h-full w-4/5 flex-col items-center justify-between bg-opacity-95 text-xl">
                    <div class="py-2 my-2">
                        <div class="px-2 text-xl mb-6">Playlists</div>
                        
                        @foreach (var playlist in _playlists)
                        {
                            <div class="flex items-center my-2">
                                 <svg class="play-icon w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="-2 -1 26 26" fill="bg-pink-800">
                                     <path fill-rule="evenodd" d="M4.5 5.653c0-1.426 1.529-2.33 2.779-1.643l11.54 6.348c1.295.712 1.295 2.573 0 3.285L7.28 19.991c-1.25.687-2.779-.217-2.779-1.643V5.653z" clip-rule="evenodd"/>
                                 </svg>
                                <div class="px-2 text-lg">@playlist.Name</div>
                            </div>
                        }
                    </div>
                    <a class="flex items-center py-6" href="add-music">
                        <img src="https://localhost:7188/assets/images/player/add-button.png" alt="Speaker Image" class="h-6 w-6"/>
                        <div class="px-2 text-xl">Add Playlist</div>
                    </a>
                </div>
            }
        </Authorized>
    </AuthorizeView>
</div>

@code{

    private PlaylistResponse[]? _playlists;
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (await LocalStorageService.ContainKeyAsync("access_token"))
        {
            try
            {
                _playlists = await Http.GetFromJsonAsync<PlaylistResponse[]>("playlists");
            }
            catch (AccessTokenNotAvailableException exception)
            {
                exception.Redirect();
            }
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (await LocalStorageService.ContainKeyAsync("access_token"))
        {
            try
            {
                _playlists = await Http.GetFromJsonAsync<PlaylistResponse[]>("playlists");
            }
            catch (AccessTokenNotAvailableException exception)
            {
                exception.Redirect();
            }
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    private void BeginLogOut()
    {
        Navigation.NavigateToLogout("logout");
    }

}
