@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation

<div class="flex h-40 w-full items-center justify-center bg-pink-600 text-2xl font-semibold text-white">
    <div class="w-4/5">Baby Sleep</div>
</div>
<div class="flex h-max w-full items-center justify-center text-xl text-white">
    <AuthorizeView>
        <Authorized>
            <div class="w-4/5">Sidebar</div>
        </Authorized>
    </AuthorizeView>
</div>

@code{

    private void BeginLogOut()
    {
        Navigation.NavigateToLogout("LogOut");
    }

}
