@using BabySounds.Client.Services
@using BabySounds.Contracts.Responses
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject JsonPlaceHolder JsonPlaceHolder;
@inject NavigationManager Navigation

<a href="">
    <img src="./assets/images/logo.jpg" alt="Logo" class="h-auto w-max"/>
</a>
<div class="h-full w-4/5 bg-opacity-95 text-xl">
    <AuthorizeView>
        <Authorized>
            <div class="flex flex-col items-center justify-between">
                <div>
                    @foreach (var track in _tracks)
                    {
                        <div>
                            <img src="" alt="@track.Title"/>
                            <div>@track.Title</div>
                        </div>
                    }
                </div>
                <div class="flex items-center">
                    <img src="./assets/images/player/add-button.png" alt="Speaker Image" class="h-6 w-6"/>
                    <div class="px-2 text-lg">Add new music</div>
                </div>
            </div>
        </Authorized>
    </AuthorizeView>
</div>

@code{

    private List<TrackResponse>? _tracks = new();

    protected override async Task OnInitializedAsync()
    {
        if (Navigation.Uri == Navigation.BaseUri)
        {
            _tracks = await JsonPlaceHolder.GetTracks();
        }
    }

    private void BeginLogOut()
    {
        Navigation.NavigateToLogout("LogOut");
    }

}
