@inherits LayoutComponentBase

<div class="flex h-screen w-screen bg-opacity-90 text-white">
    <nav class="flex w-1/4 flex-col bg-pink-800">
        <LeftSide/>
    </nav>
    <main class="flex w-2/4 flex-col items-center justify-center bg-pink-800">
        @Body
    </main>
    <nav class="flex w-1/4 flex-col justify-between bg-pink-800 bg-opacity-90">
        <RigthSide/>
    </nav>
</div>
