@using BabySounds.Client.Services
@using BabySounds.Contracts.Responses
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject JsonPlaceHolder JsonPlaceHolder;
@inject NavigationManager Navigation

<div class="w-4/5 pt-6 text-xl">
    <AuthorizeView>
        <Authorized>
            <div class="flex flex-col items-center">
                <a href="me">@context.User.Identity?.Name</a>
                <button @onclick="BeginLogOut">Log out</button>
            </div>
        </Authorized>
        <NotAuthorized>
            <div class="flex flex-col items-center">
                <a href="register">Register</a>
                <a href="login">Log in</a>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</div>
<div class="w-4/5 py-6 text-xl">
    <AuthorizeView>
        <Authorized>
            <div class="flex flex-col items-center">
                <div>Noise Sensor</div>
                <img src="./assets/images/player/speaker.png" alt="Speaker Image" class="h-auto w-max p-2"/>
            </div>
        </Authorized>
    </AuthorizeView>
</div>

@code{

    private void BeginLogOut()
    {
        Navigation.NavigateToLogout("LogOut");
    }

}
