@using BabySounds.Client.Services
@using BabySounds.Contracts.Responses
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject BabySoundsWebClient BabySoundsWebClient;
@inject IAuthService AuthService
@inject NavigationManager NavigationManager

<div class="pt-6 text-xl">
    <AuthorizeView>
        <Authorized>
            <div class="flex flex-col items-center">
                <a href="me">@context.User.Identity?.Name</a>
                <button @onclick="BeginLogOut">Log out</button>
            </div>
        </Authorized>
        <NotAuthorized>
            <div class="flex flex-col items-center">
                <a href="register">Register</a>
                <a href="login">Log in</a>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</div>
<div class="py-6 text-xl">
    <AuthorizeView>
        <Authorized>
            <div class="flex flex-col items-center">
                <div>Noise Sensor</div>
                <img src="./assets/images/player/speaker.png" alt="Speaker Image" class="h-auto w-max p-2"/>
            </div>
        </Authorized>
    </AuthorizeView>
</div>

@code{

    private async Task BeginLogOut()
    {
        await AuthService.Logout();
        NavigationManager.NavigateTo("login");
    }

}
