@page "/notauthorized"

<div class="flex h-full w-4/5 max-w-md flex-col justify-center px-12">
    <h1>Not Authorized</h1>

    <p>You are not authorized to access this resource.</p>
</div>

@code {

    [CascadingParameter]
    public Task<AuthenticationState>? AuthenticationState { get; set; }

}
