@page "/notauthorized"

<h1>Not Authorized</h1>

<p>You are not authorized to access this resource.</p>

@code {

    [CascadingParameter]
    public Task<AuthenticationState>? AuthenticationState { get; set; }

}
