@page "/playlists"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using BabySounds.Contracts.Responses
@attribute [Authorize]
@inject HttpClient Http

<PageTitle>Playlists</PageTitle>

<h1>Playlists</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (_playlist == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Order</th>
            <th>Name</th>
            <th>Duration</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var playlist in _playlist)
        {
            <tr>
                <td>
                    <img src="./assets/@{playlist.ImagePath}" alt="@playlist.Name" width="100" />
                </td>
                <td>@playlist.</td>
                <td>@playlist.UpdateTime</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private PlaylistResponse[]? _playlist;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _playlist = await Http.GetFromJsonAsync<PlaylistResponse[]>("playlists");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

}
