@page "/playlists"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using BabySounds.Contracts.Responses
@attribute [Authorize]
@inject HttpClient Http

<PageTitle>Playlists</PageTitle>

<h1>Playlists</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (_playlist == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="border border-gray-300 divide-y divide-gray-300">
        <thead>
        <tr>
            <th class="bg-pink-700 text-white py-2 px-4">Order</th>
            <th class="bg-pink-700 text-white py-2 px-4">Name</th>
            <th class="bg-pink-700 text-white py-2 px-4">Duration</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var playlist in _playlist)
        {
            <tr>
                <td class="py-2 px-4">
                    <img src="@($"./assets/{playlist.ImagePath}")" alt="@playlist.Name" width="100"/>
                </td>
                <td class="py-2 px-4">@playlist.Name</td>
                <td class="py-2 px-4">@playlist.UpdateTime</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private PlaylistResponse[]? _playlist;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _playlist = await Http.GetFromJsonAsync<PlaylistResponse[]>("playlists");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

}
